{% block content %}
    <form action="/" method="POST">
        {% csrf_token %}
        <label for="content">
            <h1 style="display: inline; font-weight: bolder; color:black;">add:</h1>
        </label>
        <input type="text" id="content" name="content" class="add-todo" value="">
        <button class="add" type="submit">Add</button>
        <br><br>
    </form>
    <ul>
        {% for todo in todos %}
            <li class="todos">
                {{ todo.content }} 
                <form action="{% url 'delete_todo' todo.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button class="delete" type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
