* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #4d4d4d;
    font-family: "Oswald", sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-todo {
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.add {
    padding-right: 30px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 30px;
    background-color: rgb(10, 58, 190);
    font-size:larger;
    cursor: pointer;
}

.todos {
    padding: 20px;
    list-style: none;
    border: 1px solid black;
    background: white;
    font-size: larger;
    color: #4d4d4d;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    border: none;
    color: white;
}
.delete {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    list-style: none;
    position: absolute;
    right: 5%;
    background-color: red;
    cursor: pointer;
    margin-bottom: 2px;
    font-weight: bolder;
}